<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="Suite">
         <classes>
             <class name="TestNG.TestNG01">
             </class>
             <class name="TestNG.TestNGAmazon">
             </class>
             <class name="TestNG.TestNGLogin">
             </class>
         </classes>
    </test>
</suite>